.buttonWithIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    width: 100%;
    margin: 0 auto;
    border: 1px;
    border-radius: var(--radius-round);
    padding: var(--spacing-sm);
    background-color: #FF9F1B;
    color: var(--color-white);
    font-family: arial;
    font-weight: bold;
    font-size: var(--font-size-XXS);
}

.icon{
    display: flex;
    align-items: center;
}