.buttonWithIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    border: 1px;
    border-radius: 5px;
    padding: 1em;
    background-color: #FF9F1B;
    color: #ffff;
    font-family: arial;
    font-weight: bold;
    font-size: 10px;
}

.icon{
    display: flex;
    align-items: center;
}