.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.mainContainer::before{
    content: "";
    background: url(../../../assets/background-burger.jpg) rgba(0, 0, 0 ,0.7);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.logoLoginPage{
    transform: scale(2.5);
}


